<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <div *ngIf="!isEditing">
    <app-manager-ticket-details
      [ticket]="ticket"
      [assignedEmployee]="assignedEmployee"
      (editClick)="onEditOpen()"
      (deleteClick)="onDelete($event)"
    >
    </app-manager-ticket-details>
  </div>
  <div *ngIf="isEditing">
    <app-ticket-edit
      [ticket]="ticket"
      [employees]="employees"
      (cancelClick)="onCancelEdit()"
      (saveClick)="onSaveEdit($event)"
    >
    </app-ticket-edit>
  </div>
</div>





