<app-loader *ngIf="isLoading; else showPage"></app-loader>
<ng-template #showPage>
  <div class="container">
    <h1 class="ms-auto">Tickets</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Employee ID</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ticket.id}}</td>
        <td>{{ticket.priority}}</td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.status}}</td>
        <td>{{ticket.employeeId}}</td>
        <td class="d-flex justify-content-end gap-2">
          <button class="btn btn-lg btn-primary p-2" (click)="deleteTicket(ticket.id)">
            Delete
          </button>
          <a class="btn btn-lg btn-primary p-2" routerLink="/manager/tickets{{ticket.id}}">
            Details
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
