<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <div *ngIf="!isCreating">
    <app-tickets [tickets]="tickets" role="manager"></app-tickets>
  </div>
  <div *ngIf="isCreating">
    <app-ticket-create
      [employees]="employees"
      (saveClick)="onCreate($event)"
      (cancelClick)="onCancelCreate()"
    >
    </app-ticket-create>
  </div>
  <button *ngIf="!isCreating" (click)="onOpenCreate()" type="button" class="btn btn-secondary btn-lg">Create Ticket</button>
</div>
