<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <div style="max-width: 1200px;" class="px-3 mx-auto">
    <h1 class="my-5 text-center">All Employees</h1>
    <div class="table-responsive">
      <table class="p-3 table table-striped table-hover">
        <thead class="bg-primary text-white">
          <tr>
            <th>ID</th>
            <th>Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Bio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.login}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td style="white-space: nowrap;">{{employee.jobTitle}}</td>
            <td>{{employee.bio}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
