<div class="ticket-form container">
  <h2 class="mb-4">Edit Ticket {{ updatedTicket.id }}</h2>
  <form (ngSubmit)="onSaveClick()" #ticketForm="ngForm">
    <div class="mb-3">
      <label for="employeeId" class="form-label">Employee ID:</label>
      <input type="number" id="employeeId" name="employeeId" [(ngModel)]="updatedTicket.employeeId" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="updatedTicket.title" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="priority" class="form-label">Priority:</label>
      <select id="priority" name="priority" [(ngModel)]="updatedTicket.priority" class="form-select" required>
        <option value="Lowest">Lowest</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Highest">Highest</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select id="status" name="status" [(ngModel)]="updatedTicket.status" class="form-select" required>
        <option value="TO DO">TO DO</option>
        <option value="IN PROGRESS">IN PROGRESS</option>
        <option value="IN QA">IN QA</option>
        <option value="IN CODE REVIEW">IN CODE REVIEW</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="updatedTicket.description" class="form-control" required></textarea>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button (click)="onCancelClick()" type="button" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>
